.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.foods {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.foods li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.foods li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.foods li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.foods .text {
  position: relative;
  top: -3px;
}
.foods .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

button:hover {
  background-color: #cfd8dc;
}



@media only screen 
and (max-device-width : 425px) {
    #food-component {
      margin-left: 10px;
      margin-top: 75px;
    }
    #food-image {
      width: auto;
      height: 200px;
      display: block;
      margin: 0 auto;
    }
}

@media only screen 
and (min-device-width : 668px) {
    #food-component {
      margin-left: 10px;
      margin-top: 80px;
    }
    #food-image {
      width: auto;
      height: 350px;
      display: block;
      margin: 5px 0px 40px 0px;
    }
}
