<div class="header"><h2>{{title}}</h2>
<!-- Start of SimpleHitCounter Code -->
<div id="counter" align="center"><a href="http://www.simplehitcounter.com" target="_blank"><img src="http://simplehitcounter.com/hit.php?uid=2259496&f=16777215&b=0" border="0" height="18" width="83" alt="web counter"></a><br><a href="http://www.simplehitcounter.com" target="_blank" style="text-decoration:none;">web counter</a></div>
<!-- End of SimpleHitCounter Code -->

</div>
<body>
      <router-outlet></router-outlet>
</body>
<div class="footer">Designed in Angular by Bill Cheng</div>
