#wrap {
    width: 100%;
    height: 100%;
    color: black; 
}

/*
 *#github{
 *    z-index: 999;
 *}
 */

@media only screen 
and (max-device-width : 425px){
    .header{
        width: 100%;
        height: 65px;
        position: fixed;
        top: 0px;
        color: #f8dbaf;
        background-color: #6bc2ba;
        z-index: 998;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }
    body {
        margin-top: 50px;
        margin-bottom: 100px;
        clear: both;
    }
    .footer{
        width: 100%;
        height: 5%;
        position: fixed;
        bottom: 0px;
        color: #f8dbaf;
        background-color: #6bc2ba;
        z-index: 998;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }
}

@media only screen 
and (min-device-width : 668px) {
    .header{
        width: 100%;
        height: 10%;
        position: fixed;
        top: 0px;
        color: #f8dbaf;
        background-color: #6bc2ba;
        z-index: 998;
        font-family: 'Montserrat', sans-serif;
        /*text-align: center;*/
    }
    body {
        margin-top: 30px;
        /*border-style: dotted;*/
    }
    .footer{
        width: 100%;
        height: 5%;
        position: fixed;
        bottom: 0px;
        color: #f8dbaf;
        background-color: #6bc2ba;
        z-index: 998;
        font-family: 'Montserrat', sans-serif;
    }
}
