/* You can add global styles to this file, and also import other style files */
#wrap {
    width:100%;
    margin:10px;
}

#left_col {
    float:left;
    width:100%;
}

/*
 *#right_col {
 *    float:right;
 *    width:40%;
 *}
 */

#homepage {
    margin-left:25px;
}

