.form-group {
    padding-top: 5px;
}

.checkbox-grid {
    float: left;
    width: 25%;
    padding: 0;
    margin: 3px;
    margin-right:10px;
    white-space: nowrap;
    background-color:#6bc2ba;
    border-radius: 5px;
	color: white;
    font-size: 80%;
}

#submit-btn {
    width: 100%;
    float: left;
    margin-top: 10px;
}

#home-page {
    margin-left: 5px;
}
