<div id="home-page">
  <div class="submit-btn"> 
    Select the categories!
  </div>
  <div class="submit-btn">
    <button type="button" class="btn btn-primary" (click)="onSelect()">Submit</button>
    <button type="button" class="btn btn-primary" (click)="onSelectAll()">Select All</button>
  </div>
  <div id="form-group">
    <ul class="checkbox-grid "*ngFor="let option of options">
      <label>
        <input type="checkbox" class="ck-button"
          name="options"
          value="{{option.value}}"
          [(ngModel)]="option.checked"/>
       <span> {{option.name}} </span>
      </label>
    </ul>
  </div>
</div>
