@media only screen 
and (max-device-width : 425px) {
    #form-group {
        margin-top: 10px;
        margin-left: 5%;
    }

    .checkbox-grid {
        float: left;
        width: 25%;
        padding: 0;
        white-space: nowrap;
        border-radius: 5px;
        font-size: 80%;
    }

    .submit-btn {
        width: 100%;
        margin: 5px 0px 0px 5%;
        float: left;
    }

    #home-page {
        margin-left: 5px;
        padding-top: 20px;
    }
 
}


@media only screen 
and (min-device-width : 668px) {
    .form-group {
    }

    .checkbox-grid {
        float: left;
        width: 15%;
        padding: 0;
        margin: 3px;
        margin-right:10px;
        white-space: nowrap;
        border-radius: 5px;
        font-size: 80%;
    }

    .submit-btn {
        margin: 5px 0px 5px 5px;
        width: 100%;
        float: left;
    }

    #home-page {
        margin-left: 5px;
        margin-top: 100px;
    }
 
}

.checkbox-grid {
    margin:4px;
    background-color:#6bc2ba;
    border-radius:4px;
    color: white;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
    text-align: center;
}

.checkbox-grid label span {
    padding:1px 0px;
    display:block;
}

.checkbox-grid label input {
    position:absolute;
    top:-20px;
}

.checkbox-grid input:checked + span {
    color:black;
}
